{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Google+ Archive Viewer</title>
    <style>
        body {
            background-color: rgb(239, 242, 250);
        }

        .hyperlink {
            color: rgb(153, 167, 210);
        }
    </style>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
<div class="flex justify-center">
    <div class="lg:w-3/5">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>
